
#msform {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


#msform div.step {
  background: white;
  border: blueviolet;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 50%;
  margin: 0 10%;
  position: relative;
}

#msform div.step {
  display: none;
}

#msform div.step h2 {
  margin-top: 0;
  color: #4d4d4d;
  font-size: 18px;
  text-align: center;
}

#msform input,
#msform select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 17px;
}

#msform .action-button {
  width: 100px;
  background: #27AE60;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .previous {
  background: #555555;
}

#msform .submit {
  background: #27AE60;
  float: none;
  margin: 10px 5px;
}

#msform .groomer-info {
  display: block;
  width: 100%; 
  box-sizing: border-box;
  padding: 20px;
}

#step4 div{
  margin-bottom: 5%;
}

#msform .swiper-slider div {
  display: inline-block;
}

#msform .swiper-slider img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

#msform #otherPetType {
  display: none;
}

#progressbar {
  margin-bottom: 50px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar li {
  list-style-type: none;
  font-size: 20px;
  width: 25%;
  float: left;
}

#progressbar .active {
  color: #27AE60;
}

#progressbar .active:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #27AE60;
}

#progressbar li:after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  top: 0;
  right: -50%;
  z-index: -1;
  background-color: #f2f2f2;
}

#progressbar li:first-child:after {
  content: none;
}
.swiper {
  width: 600px;
  height: 500px;
}

#displayPrice {
  font-size: 20px;
  padding: 10px;
  font-weight: 600;
  margin-bottom: 20px;
  border-style: ridge;
}


table {
  margin: auto;
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
}

th, td {
  text-align: center;
  padding: 10px;
}

th {
  background-color: #f2f2f2;
  color: #4d4d4d;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6e6e6;
}

td input[type="checkbox"] {
  margin-right: 5px;
}

td span {
  font-weight: bold;
}

.dropdown-menu {
  padding: 10px;
}

.dropdown-menu a {
  color: #2C3E50;
}

.dropdown-menu a:hover {
  color: #27AE60;
}