body {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  line-height: 1.6;
  background-color: #F7EFE8;
}
    h1 {
  font-size: 32px;
  color: #4B4C4E;
  margin-bottom: 20px;
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #E3B7A7;
}

th {
  background-color: #E3B7A7;
  color: #4B4C4E;
}

td {
  color: #4B4C4E;
}

a {
  color: #EF7C55;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.write-button {
  background-color: #EF7C55;
  color: #000000;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, box-shadow 0.2s;
}
hr {
  border: 0;
  height: 1px;
  background: #E3B7A7;
  margin: 20px 0;
}

.dropdown-item {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-width: 600px; /* 원하는 최대 너비 설정 */
  font-weight: bold;
  font-size: 15px;
}
