/* 
Login.html
*/

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #eee0e0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(122, 45, 45, 0.1);
}

.form-control {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-size: 16px;
  margin-top: 5px;
}

button[type="submit"],
a.btn {
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 100%;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
}

a.btn {
  background-color: #ccc;
  color: #000;
}

button[type="submit"]:hover,
a.btn:hover {
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 10px rgba(122, 45, 45, 0.1);
}

