/* Background Image */

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Inter', sans-serif;
}

/* Navigation */
nav {
  background-color: #eee0e0;
  box-shadow: 0 0 10px rgba(122, 45, 45, 0.1);
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-text {
  font-family: 'Arial', sans-serif;
  font-size:40px;
  font-weight: bold;
  color: #FF69B4;
  text-decoration: none;
  margin: 20px;
}



nav ul {
  display: flex;
  margin: 0;
  padding: 100px;
  font-size: 1.8rem;
}

nav ul li {
  list-style-type: none;
  margin-left: 20px;
  position: relative;
}

nav ul li a {
  display: inline-block;
  padding: 10px 15px;
  color: #ff5252;
  text-decoration: none;
  font-weight: bold;
  transition-delay: 0.2s;
  font-size: 1.2rem;
}

nav ul li:hover > ul {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

nav ul li ul {
  visibility: hidden;
  position: absolute;
  top: 60px;
  left: 0;
  min-width: 60px;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: translateY(10px);
  transition: visibility 0s linear 0.3s, opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
}

nav ul li:hover ul {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0s;
}

nav ul li ul li {
  margin: 10px 0;
}

nav ul li ul li a {
  display: block;
  padding: 10px;
  color: #5a1e64;
  font-weight: normal;
  font-size: 1.0rem;
}

nav ul li ul li a:hover {
  background-color: #ff5252;
  color: #fff;
}

/* Main Content */
main {
  margin-top: 60px;
  padding: 50px;
}

main h1 {
  font-size: 2rem;
  font-style: 'Jeju Gothic';
  margin-bottom: 30px;
  color: #463d3d;
}

.user-review {
  font-size: 1.1rem;
  font-weight: bold;
}


.review-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.review-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 30px;
}

.review-item img {
  width: 90%;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.review-item p {
  margin: 0;
}

.pet-type {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.groomer-name {
  font-size: 1.4rem;
  font-weight: bold;
  flex-grow: 1;
  text-align: center;
}

.groomer-rank {
  font-size: 1.2rem;
  color: #ff9800;
  margin-top: 5px;
  text-align: center;
}

