<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8">
  <title>Add Groomer</title>
  <link rel="stylesheet" th:href="@{/css/regstyle.css}">
  <script src="https://unpkg.com/libphonenumber-js/bundle/libphonenumber-js.min.js"></script>
</head>

<body>
  <h1>Add Groomer</h1>
  <form th:action="@{/addgroomer}" method="POST" th:object="${groomer}">
    <div>
      <br>
      <label for="name">Name:</label>
      <input type="text" th:field="*{name}" id="name" name="name" required>
      <br>
      <label for="gender">Gender:</label>
      <select id="gender" th:field="*{gender}" onchange="chooseGender()">
        <option value="male">male</option>
        <option value="female">female</option>
      </select>
      <br>
      <label for="phone">Phone Number:</label>
      <select id="nationality" onchange="choosePhoneFormat()">
        <option value="us">USA</option>
        <option value="kr">Korea</option>
        <option value="cn">China</option>
      </select>
      <input type="tel" th:field="*{phone}" id="phone" name="phone" required>
      <br>
      <label for="email">Email:</label>
      <div id="email-input-container">
        <input type="text" id="email-prefix" required>
        <span>@</span>
        <select id="email-domain" onchange="otherEmailForm()">
          <option value="gmail.com">gmail.com</option>
          <option value="naver.com">naver.com</option>
          <option value="hotmail.com">hotmail.com</option>
          <option value="yahoo.com">yahoo.com</option>
          <option value="other">other</option>
        </select>
        <input type="text" id="email-suffix" name="email-suffix">
        <input type="hidden" th:field="*{email}" id="email" name="email">
      </div>
      <br>
      <label for="rank">Rank:</label>
      <input type="number" th:field="*{ranks}" id="rank" name="rank" min="3" max="5">
      <br>
      <label for="image">Image:</label>
      <input type="file" th:field="*{image}" id="image" name="image" accept="image/*">
      <br>
      <button type="submit">Save</button>
    </div>
  </form>

  <script>

    function otherEmailForm() {
      const emailDomain = document.querySelector("#email-domain");
      const emailSuffixInput = document.querySelector("#email-suffix");

      if (emailDomain.value == "other") {
        emailSuffixInput.style.display = "block";
      } else {
        emailSuffixInput.style.display = "none";
      }
    }
    // Add event listener for form submission
    document.querySelector("form").addEventListener("submit", () => {
      setEmailValue();
    });

    // Set the email value in a hidden input field before submitting the form
    function setEmailValue() {
      const emailPrefix = document.getElementById("email-prefix").value;
      const emailDomain = document.getElementById("email-domain").value;
      const emailSuffix = document.getElementById("email-suffix").value;
      const emailInput = document.getElementById("email");

      if (emailDomain === "other") {
        emailInput.value = `${emailPrefix}@${emailSuffix}`;
      } else {
        emailInput.value = `${emailPrefix}@${emailDomain}`;
      }
    }


  </script>
</body>