<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pet Shop Grooming Appointment System - Admin</title>
    <link rel="stylesheet" th:href="@{css/adminstyle.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLwh67vm8wt5Sr5yG6Ayp5Q5TLrrX5umz+jKDrjzg9dhW5Kv8Xu6JU7jygn6k8O1YPD0dIvlxdQ=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz4fnFO9gybBud7WiwbNznFD4JtB4Plzd9Y6U9p5jaU8d+z+2Qx/ToSvmp"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:src="@{/js/adminscripts.js}"></script>
    <script th:src="@{/js/datatables-simple-demo.js}"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PetGrm</a>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Manage</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/addgroomer}">Groomer Registration</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">Q&amp;A</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/faq}">FAQ</a></li>
                                <li><a class="dropdown-item" th:href="@{/qna}">Q&amp;A</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main class="container mt-4">
        <h1>Admin Dashboard</h1>
        <p>Welcome, Admin! Here you can manage groomers and appointments.</p>
        <h2>Statistical Reports</h2>
        <div class="row">
            <div class="col-md-6">
                <h3>Monthly Revenue</h3>
                <div style="width: 400px; height: 300px;">
                    <canvas id="monthlyRevenueChart" width="350" height="250"></canvas>
                </div>
            </div>

            <!-- 성별 비율 그래프 열 -->
            <div class="col-md-6">
                <h3>User Gender Ratio</h3>
                <div style="width: 400px; height: 300px;">
                    <canvas id="genderRatioChart" width="350" height="250"></canvas>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">Groomers</div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Gender</th>
                                    <th>Phone</th>
                                    <th>Email</th>
                                    <th>Ranks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="groomer : ${groomers}">
                                    <td th:text="${groomer.name}"></td>
                                    <td th:text="${groomer.gender}"></td>
                                    <td th:text="${groomer.phone}"></td>
                                    <td th:text="${groomer.email}"></td>
                                    <td th:text="${groomer.ranks}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">Appointments</div>
                    <div class="card-body">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Appointment ID</th>
                                    <th>Groomer Name</th>
                                    <th>Date</th>
                                    <th>Price</th>
                                    <th>Customer</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="appointment : ${appointments}">
                                    <td th:text="${appointment.id}"></td>
                                    <td th:text="${appointment.groomer.name}"></td>
                                    <td th:text="${appointment.appointmentDate}"></td>
                                    <td th:text="${appointment.price}"></td>
                                    <td th:text="${appointment.user.name}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script src="/webjars/chartjs/2.9.4/dist/Chart.min.js"></script>
<script th:inline="javascript">
    /* 월별 매출 데이터 차트 */
    const monthlyRevenueData = /*[[${monthlyRevenueData}]]*/[];
    const ctx1 = document.getElementById('monthlyRevenueChart').getContext('2d');
    const monthlyRevenueChart = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
            datasets: [{
                label: 'Monthly Revenue',
                data: monthlyRevenueData,
                backgroundColor: 'rgba(75, 192, 192, 0.2)',
                borderColor: 'rgba(75, 192, 192, 1)',
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });

    /* 성별 비율 데이터 차트 */
    const genderRatioData = /*[[${genderRatioData}]]*/ {};
    const ctx2 = document.getElementById('genderRatioChart').getContext('2d');
    const genderRatioChart = new Chart(ctx2, {
        type: 'pie',
        data: {
            labels: ['Male', 'Female'],
            datasets: [{
                data: [genderRatioData.Male, genderRatioData.Female],
                backgroundColor: ['rgba(255, 99, 132, 0.2)', 'rgba(255, 205, 86, 0.2)'],
                borderColor: ['rgba(255, 99, 132, 1)', 'rgba(255, 205, 86, 1)'],
                borderWidth: 1
            }]
        }
    });
</script>

</html>