<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Appointment</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
  <!-- flatpickr CSS -->
  <!-- flatpickr JavaScript -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <link rel="stylesheet" th:href="@{/css/apmstyle.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

</head>

<body>
  <form id="msform" th:action="@{/appointment}" th:object="${appointment}" method="post">
    <ul id="progressbar" style="width:800px">
      <li class="active">PetType&Size</li>
      <li>Choose Groomer</li>
      <li>Date & time</li>
      <li>Payment</li>
    </ul>
    <div id="step1" class="step active" style="display:block">
      <h2>PetType</h2>
      <select id="petType" onchange="showOtherPetType()" th:field="*{petType}">
        <option value="affenpinscher">Affenpinscher</option>
        <option value="akita">Akita</option>
        <option value="basset-hound">Basset Hound</option>
        <option value="beagle">Beagle</option>
        <option value="border-collie">Border Collie</option>
        <option value="boxer">Boxer</option>
        <option value="bulldog">Bulldog</option>
        <option value="chihuahua">Chihuahua</option>
        <option value="dachshund">Dachshund</option>
        <option value="dalmatian">Dalmatian</option>
        <option value="french-bulldog">French Bulldog</option>
        <option value="german-shepherd">German Shepherd</option>
        <option value="golden-retriever">Golden Retriever</option>
        <option value="husky">Husky</option>
        <option value="labrador-retriever">Labrador Retriever</option>
        <option value="poodle">Poodle</option>
        <option value="pug">Pug</option>
        <option value="rottweiler">Rottweiler</option>
        <option value="siberian-husky">Siberian Husky</option>
        <option value="yorkshire-terrier">Yorkshire Terrier</option>
        <option value="other">Other</option>
      </select>
      <input type="text" id="otherPetType" style="display:none;" placeholder="Other-Type" th:field="*{petType}">
      <br>
      <h2>Size</h2>
      <select id="size" th:field="*{petSize}">
        <option value="SMALL">SMALL 9.9$</option>
        <option value="MEDIUM">MEDIUM 14.9$</option>
        <option value="LARGE">LARGE 19.9$</option>
      </select>
      <input type="button" value="Next" class="next action-button" onclick="nextStep(1)">
    </div>

    <!-- Slider main container -->
    <div id="step2" class="step">
      <div class="swiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div th:each="groomer : ${groomer}" class="swiper-slide">
            <img th:attr="src=@{/img/} + ${groomer.image}" alt="groomer" width="200px" height="200px">
            <h3 th:text="${groomer.name}"></h3>
            <div>
              <th:block th:each="i : ${#numbers.sequence(1, ((groomer.ranks) != null) ? groomer.ranks : 0)}">
                <img th:src="@{/img/star.png}" alt="star">
              </th:block>
            </div>
            <input type="radio" th:name="groomer" th:value="${groomer.id}" th:data-ranks="${groomer.ranks}"
              th:onclick="selectGroomer(this , '${groomer.name}', ${groomer.ranks});">
          </div>
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <!-- If we need scrollbar -->
        <div class="swiper-scrollbar"></div>
      </div>
      <input type="button" value="Previous" class="previous action-button" onclick="previousStep(1)">
      <input type="button" value="Next" class="next action-button" onclick="nextStep(2)">
    </div>

    <div id="step3" class="step">
      <h2>Date & Time</h2>
      <input type="text" id="datetimepicker" placeholder="Select Date & Time" th:field="*{appointmentDate}">
      <input type="button" value="Previous" class="previous action-button" onclick="previousStep(2)">
      <input type="button" value="Next" class="next action-button" onclick="nextStep(3)">
    </div>
    <div id="step4" class="step">
      <div>
        <div id="summary">
          <h3>Selected Information</h3>
          <table>
            <tr>
              <th>Pet Type</th>
              <td id="summary-pet-type"></td>
            </tr>
            <tr>
              <th>Size</th>
              <td id="summary-size"></td>
            </tr>
            <tr>
              <th>Groomer</th>
              <td id="summary-groomer"></td>
            </tr>
            <tr>
              <th>Date & Time</th>
              <td id="summary-datetime"></td>
            </tr>
          </table>
        </div>

        <h3>Payment</h3>
        <br>
        <select id="pay-method" onchange="showPaymentMethod()" th:field="*{paymentMethod}">
          <option value="ONLINE">Online Pay(Card)</option>
          <option value="OFFLINE">Offline Pay</option>
        </select>
        <h3>Recommended Service</h3>
        <br>
        <table>
          <thead>
            <tr>
              <th>Product</th>
              <th>Description</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="groomingService : ${groomingService}">
              <td>
                <input type="checkbox" th:id="${'groomingService' + groomingService.id}"
                  th:value="${groomingService.id}" th:data-price="${groomingService.price}" onclick="updatePrice()" th:name="groomingServices"/>
                <label th:for="${'groomingService' + groomingService.id}"
                  th:text="${groomingService.serviceName}"></label>
              </td>
              <td>
                <div class="dropdown">
                  <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    th:text="Details"></a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" th:text="${groomingService.description}"></a>
                  </div>
                </div>
              </td>
              <td>
                <span th:text="${groomingService.price}"></span>
              </td>
            </tr>
          </tbody>
        </table>


        <h3>Price</h3>
        <br>
        <span id="displayPrice" th:field="*{price}">0</span>
        <br>
      </div>
      <input type="button" value="Previous" class="previous action-button" onclick="previousStep(3)">
      <button type="Submit" class="submit">Save</button>
    </div>
  </form>
  <script>
    const swiper = new Swiper('.swiper', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,

      // If we need pagination
      pagination: {
        el: '.swiper-pagination',
      },

      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },

      // And if we need scrollbar
      scrollbar: {
        el: '.swiper-scrollbar',
      },
    });

    function nextStep(step) {
      if (step === 3) {
        const petType = document.getElementById("petType").value;
        const size = document.getElementById("size").value;
        const groomer = document.querySelector('input[name="groomer"]:checked').parentElement.querySelector('h3').textContent;
        const dateTime = document.getElementById("datetimepicker").value;



        document.getElementById("summary-pet-type").textContent = petType;
        document.getElementById("summary-size").textContent = size;
        document.getElementById("summary-groomer").textContent = groomer;
        document.getElementById("summary-datetime").textContent = dateTime;
      }
      var currentStep = document.getElementsByClassName("step active")[0];
      currentStep.classList.remove("active");
      currentStep.style.display = "none";

      // change progress bar
      var progressBar = document.getElementById("progressbar");
      var progressBarList = progressBar.getElementsByTagName("li");
      for (var i = 0; i < progressBarList.length; i++) {
        progressBarList[i].classList.remove("active");
      }
      progressBarList[step].classList.add("active");

      // change form step
      var formStep = document.getElementsByClassName("step")[step];
      formStep.classList.add("active");
      formStep.style.display = "block";
      updatePrice();
    }

    function previousStep(step) {
      var currentStep = document.getElementsByClassName("step active")[0];
      currentStep.classList.remove("active");
      currentStep.style.display = "none";

      // change progress bar
      var progressBar = document.getElementById("progressbar");
      var progressBarList = progressBar.getElementsByTagName("li");
      for (var i = 0; i < progressBarList.length; i++) {
        progressBarList[i].classList.remove("active");
      }
      progressBarList[step - 1].classList.add("active");

      // change form step
      var formStep = document.getElementsByClassName("step")[step - 1];
      formStep.classList.add("active");
      formStep.style.display = "block";
      updatePrice();
    }

    function showOtherPetType() {
      const petType = document.querySelector("#petType");
      const otherPetType = document.querySelector("#otherPetType");

      if (petType.value === "other") {
        otherPetType.style.display = "block";
      } else {
        otherPetType.style.display = "none";
      }
    }

    function selectGroomer(element, groomerName, groomerRanks) {
      console.log(`Selected groomer: ${groomerName}`);
      element.dataset.ranks = groomerRanks;
      updatePrice();
    }


    flatpickr("#datetimepicker", {
      enableTime: true,
      dateFormat: "Y-m-d H:i",
      minDate: "today",
      maxDate: new Date().fp_incr(31),
      minTime: "07:00",
      maxTime: "22:00",
      minuteIncrement: 30
    });

    function getSelectedServicePrice() {
      const serviceCheckboxes = document.querySelectorAll('input[type="checkbox"]');
      let servicePrice = 0;

      serviceCheckboxes.forEach((checkbox) => {
        if (checkbox.checked) {
          const selectedServicePrice = parseFloat(checkbox.dataset.price);
          servicePrice += selectedServicePrice;
        }
      });

      return servicePrice;
    }

    function updatePrice() {
      const selectedGroomer = document.querySelector('input[name="groomer"]:checked');
      const selectedPetSize = document.getElementById("size");
      const displayPrice = document.getElementById("displayPrice");

      let calculatedPrice = 0;

      if (selectedGroomer && selectedPetSize) {
        const groomerRanks = parseInt(selectedGroomer.dataset.ranks, 10); // Parse the value as an integer
        const petSize = selectedPetSize.value;

        let basePrice;
        switch (petSize) {
          case 'SMALL':
            basePrice = 9.9;
            break;
          case 'MEDIUM':
            basePrice = 14.9;
            break;
          case 'LARGE':
            basePrice = 19.9;
            break;
          default:
            throw new Error(`Unexpected value: ${petSize}`);
        }

        let multiplier;
        switch (groomerRanks) {
          case 3:
            multiplier = 1.2;
            break;
          case 4:
            multiplier = 1.5;
            break;
          case 5:
            multiplier = 1.8;
            break;
          default:
            throw new Error(`Unexpected value: ${groomerRanks}`);
        }

        calculatedPrice = basePrice * multiplier;
      }

      // 추가된 서비스 가격 계산
      const selectedServicePrice = getSelectedServicePrice();

      // 최종 가격 계산
      const totalPrice = calculatedPrice + selectedServicePrice;
      displayPrice.textContent = totalPrice.toFixed(2);
    }


    document.querySelectorAll('input[name="groomer"]').forEach((input) => {
      input.addEventListener('change', updatePrice);
    });
    
    document.getElementById("size").addEventListener('change', updatePrice);
    // Select the first groomer by default
    const firstGroomerInput = document.querySelector('input[name="groomer"]');
    firstGroomerInput.checked = true;
    updatePrice();
  </script>


</body>

</html>