<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>FAQ</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{css/faqstyle.css}">
</head>

<body>
  <h1>Frequently Asked Questions</h1>
  <table>
    <thead>
      <tr>
        <th>NO.</th>
        <th>Title</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="faq, i : ${faqs}">
          <td th:text="${faq.id != null ? faq.id : ''}"></td>
          <td>
            <div class="dropdown">
              <a class="btn btn-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                data-bs-toggle="dropdown" aria-expanded="false" th:text="${faq.title}"></a>

              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li><span class="dropdown-item" th:text="${faq.content}"></span></li>
              </ul>
            </div>
          </td>
          <td th:text="${faq.createdAt}"></td>
      </tr>
    </tbody>

  </table>
  
</body>

</html>