<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pet Shop Grooming Appointment System</title>
  <link rel="stylesheet" th:href="@{css/style.css}">
</head>

<body>
  <header>
    <nav>
      <div class="logo-container">
        <a href="#" class="logo-text">PetGrm</a>
      </div>
      <ul>
        <li class="dropdown">
          <a href="#">Appointment</a>
          <ul class="dropdown-content">
            <li><a th:href="@{/appointment}">Make Appointment</a></li>
            <li><a th:href="@{/myAppointment}">My Appointment</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#">Q&amp;A</a>
          <ul class="dropdown-content">
            <li><a th:href="@{/faq}">FAQ</a></li>
            <li><a th:href="@{/qna}">Q&amp;A</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#">User Info</a>
          <ul class="dropdown-content">
            <li><a th:href="@{/mypage}">Mypage</a></li>
            <li><a th:href="@{/logout}">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <h1>Review</h1>
    <div class="review-container">
      <div class="review-item">
        <img th:src="@{/img/beagle.webp}" alt="Pet review">
        <p class="pet-type">Dog type : Beagle</p>
        <p class="groomer-name">John</p>
        <p class="groomer-rank">3 Ranks</p>
        <p class="user-review">User-Review</p>
        <p class="write">"Great experience! My dog was treated like royalty and came out looking like a superstar. Will
          definitely be back."</p>
      </div>
      <div class="review-item">
        <img th:src="@{/img/Bulldog.jpg}" alt="Pet review">
        <p class="pet-type">Dog type : Bulldog</p>
        <p class="groomer-name">Lina</p>
        <p class="groomer-rank">4 Ranks</p>
        <p class="user-review">User-Review</p>
        <p class="write">"The staff here is amazing! They're always so friendly and knowledgeable, and my cat always
          looks and smells great after a visit."</p>
      </div>
      <div class="review-item">
        <img th:src="@{/img/Golden_Retriever.jpg}" alt="Pet review">
        <p class="pet-type">Dog type : Golden Retriever</p>
        <p class="groomer-name">Tim</p>
        <p class="groomer-rank">5 Ranks</p>
        <p class="user-review">User-Review</p>
        <p class="write">"I've tried several groomers before, but this place is the best by far. They're very gentle
          with my dog and always do a thorough job."</p>
      </div>
    </div>
    </div>
  </main>
</body>
<script th:src="@{/js/jquery-3.6.4.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>

</html>