<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/logstyle.css}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
            <div class="form-control">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-control">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-control">
                <button type="submit" class="btn">Login</button>
                <a th:href="@{/register}" class="btn">Register</a>
            </div>
        </form>
    </div>
</body>
</html>
