<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Appointments</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        h1 {
            color: #008080;
        }

        h2 {
            color: #444;
        }

        table {
            border-collapse: collapse;
            margin: 15px;
            width: 95%;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }
    </style>
</head>

<body>
    <h1>Welcome!</span></h1>
    <h1>Your Appointments</h1>
    <!-- Current Appointments -->
    <h2>Current Appointments</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Groomer</th>
                <th>Pet Type</th>
                <th>Pet Size</th>
                <th>Price</th>
                <th>Payment Method</th>
                <th>Cencel</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="appointment : ${currentAppointments}">
                <td th:text="${appointment.appointmentDate}"></td>
                <td th:text="${appointment.groomer.name}"></td>
                <td th:text="${appointment.petType}"></td>
                <td th:text="${appointment.petSize}"></td>
                <td th:text="${appointment.price}"></td>
                <td th:text="${appointment.paymentMethod}"></td>
                <td>
                    <button type="button" class="btn btn-danger" th:data-appointment-id="${appointment.id}"
                        onclick="cancelAppointment(this)">Cancel</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- Appointment History -->
    <h2>Appointment History</h2>
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Groomer</th>
                <th>Pet Type</th>
                <th>Pet Size</th>
                <th>Price</th>
                <th>Payment Method</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="appointment : ${pastAppointments}">
                <td th:text="${appointment.appointmentDate}"></td>
                <td th:text="${appointment.groomer.name}"></td>
                <td th:text="${appointment.petType}"></td>
                <td th:text="${appointment.petSize}"></td>
                <td th:text="${appointment.price}"></td>
                <td th:text="${appointment.paymentMethod}"></td>

            </tr>
        </tbody>
    </table>

</body>
<script>
    function cancelAppointment(button) {
        var appointmentId = button.getAttribute("data-appointment-id");
        var confirmation = confirm("Are you sure you want to cancel this appointment?");

        if (confirmation) {
            // Proceed with the cancellation.
            window.location.href = "/cancel/" + appointmentId;
        }
    }
</script>

</html>