<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>My Page</title>
  <style>
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #f7f7f7;
    }

    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 2rem;
    }

    h1 {
      font-size: 2.5rem;
      text-align: center;
      margin-bottom: 2rem;
    }

    .user-info {
      background-color: #fff;
      border-radius: 5px;
      padding: 2rem;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    p {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    span:first-of-type {
      font-weight: bold;
      margin-right: 1rem;
    }
  </style>
</head>

<body>
  <div class="container">
    <h1>My Information</h1>
    <div class="user-info">
      <p><span>Name:</span> <span th:text="${user.name}"></span></p>
      <p><span>Phone:</span> <span th:text="${user.phone}"></span></p>
      <p><span>Email:</span> <span th:text="${user.email}"></span></p>
      <p><span>Nickname:</span> <span th:text="${user.nickname}"></span></p>
      <p><span>Gender:</span> <span th:text="${user.gender}"></span></p>
    </div>
  </div>
</body>

</html>