<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Payment Information</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 mt-5">
        <h2 class="text-center mb-4">Payment Information</h2>
        <form th:action="@{/payment}" th:object="${cardInfo}" method="POST">
          <div class="form-group">
            <label for="cardNumber">Card Number</label>
            <input type="text" class="form-control" th:field="*{cardnumber}" placeholder="Enter card number" required>
          </div>
          <div class="form-group">
            <label for="cardHolder">Card Holder</label>
            <input type="text" class="form-control" th:field="*{cardholder}" placeholder="Enter card holder name"
              required>
          </div>
          <div class="form-group">
            <label for="expiryDate">Expiry Date</label>
            <input type="text" class="form-control" th:field="*{expirydate}" placeholder="Enter expiry date" required>
          </div>
          <div class="form-group">
            <label for="cvv">CVV</label>
            <input type="text" class="form-control" th:field="*{cvv}" placeholder="Enter CVV" required>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script th:src="@{/js/jquery-3.6.4.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>