<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Q&A</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" th:href="@{css/faqstyle.css}">
</head>

<body>
  <h1>Questions & Answers</h1>
  <table>
    <thead>
      <tr>
        <th>NO.</th>
        <th>Question Title</th>
        <th>ShopManager's Answer</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="qna, i : ${qnas}">
        <td th:text="${qna.id != null ? qna.id : ''}"></td>
        <td><a th:href="@{/qna/{id}/questiondetails(id=${qna.id})}" th:text="${qna.question_title}"></a>
        </td>
        <td th:text="${qna.answer_content}"></td>
        <td th:text="${qna.createdAt}"></td>
      </tr>
    </tbody>
  </table>
  <a th:href="@{/qna/questionform}" class="write-button">Ask a Question</a>
</body>

</html>