<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <title>Question Details</title>
  <!-- 여기에 CSS 및 JS 추가 -->
  <style>
    body {
      font-family: Arial, sans-serif;
      max-width: 1200px;
      margin: 0 auto;
      padding: 30px;
      line-height: 1.6;
      background-color: #f7efe8;
    }

    h1 {
      font-size: 32px;
      color: #4b4c4e;
      margin-bottom: 20px;
      text-align: center;
    }
    
    p {
      font-weight: bold;
    }

    strong{
      font-size: 1.8em;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 30px;
    }

    th,
    td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #e3b7a7;
    }

    th {
      background-color: #e3b7a7;
      color: #4b4c4e;
    }

    td {
      color: #4b4c4e;
    }

    a {
      color: #ef7c55;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    .write-button {
      background-color: #ef7c55;
      color: #000000;
      padding: 8px 16px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      text-decoration: none;
      font-weight: bold;
      display: inline-block;
      margin-top: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: background-color 0.2s, box-shadow 0.2s;
    }

    hr {
      border: 0;
      height: 1px;
      background: #e3b7a7;
      margin: 20px 0;
    }

    .dropdown-item {
      white-space: pre-wrap;
      word-wrap: break-word;
      max-width: 600px;
      /* 원하는 최대 너비 설정 */
      font-weight: bold;
      font-size: 15px;
    }
  </style>
</head>

<body>
  <h1 th:text="${qna.question_title}"></h1>
  <p><strong>Question:</strong></p>
  <p th:text="${qna.question_content}"></p>
  <p><strong>Answer:</strong></p>
  <div th:if="${qna.answer_content != null}" th:text="${qna.answer_content}"></div>
  <div th:if="${isAdmin}">
    <h3>Write an answer:</h3>
    <form th:action="@{/qna/{id}/answer(id=${qna.id})}" method="post">
      <textarea name="answer_content" rows="5" cols="50" required></textarea>
      <input type="submit" value="Submit">
    </form>
  </div>
  <a th:href="@{/qna}">Back to Q&A</a>
</body>

</html>